.cardContainer {
    width: 46%;
    background-color: #fff;
    border-radius: 24px;
    font-family: 'hellix';
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px 20px;
}

.container1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cardImage {
    width: 40%;
}

.cardImage img {
    width: 100%;
}

.text {
    width: 55%;
}

.title {
    font-size: 14px;
    color: #0176D3;
    font-weight: 400;
    font-family: 'oswald';
}

.description {
    color: #A9A9A9;
}

.description span {
    color: #131522;
}

.container2 {
    display: flex;
    justify-content: space-between;
}

.para {
    line-height: 2px;
    font-weight: 400;
}

.venue {
    color: #A9A9A9;
}

.dateTimePara,
.eventAgendaPara {
    line-height: 5px;
}

.dateTimeHeading,
.eventAgenda {
    color: #A9A9A9;
}

.dateTime {
    color: #131522;
}

.sales {
    color: #0176D3;
    text-decoration: underline;
}

.container3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn1,
.btn2 {
    font-weight: 700;
    font-family: 'oswald';
    padding: 10px 0px;
    border-radius: 8px;
    width: 48%;
    border: 1px solid #0176D3;
}

.btn1 {
    background-color: #FFFFFF;
    color: #0176D3;
}

.btn2 {
    background-color: #0176D3;
    color: #FFFFFF;
}

@media(max-width : 1260px) {
    .cardContainer {
        width: 500px;
    }
}

@media(max-width : 1260px) {
    .cardContainer {
        width: 500px;
    }
}

@media(max-width : 589px) {
    .cardContainer {
        width: 300px;
    }

    .container1 {
        flex-direction: column;
        width: 100%;
    }

    .cardImage,
    .text {
        width: 100%;
    }

    .text {
        padding-top: 15px;
    }

    .container2 {
        font-size: 9px;
        align-items: center;
    }

    .para,
    .dateTimePara,
    .eventAgendaPara {
        line-height: 1px;
    }
}

@media(max-width : 370px) {
    .title {
        font-size: 12px;
    }
    .description {
        font-size: 10px;
    }
}

@media (min-width : 1500px) {
    .cardImage {
        width: 55%;
    }
    .text {
        width: 42%;
    }
    .cardContainer {
        font-size: 16px;
    }
    .title {
        font-size: 18px;
    }
    .para,
    .dateTimePara,
    .eventAgendaPara {
        line-height: 15px;
    }
    .container2 {
        padding-top: 15px;
    }
}