.cardContainer {
    width: 500px;
    background-color: #fff;
    border-radius: 24px;
    font-family: 'hellix';
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px 20px;
}

.container1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cardImage {
    width: 40%;
}

.cardImage img {
    width: 100%;
}

.text {
    width: 55%;
}

.title {
    font-size: 14px;
    color: #0176D3;
    font-weight: 400;
    font-family: 'oswald';
}

.description {
    font-size: 12px;
    color: #A9A9A9;
}

.description span {
    color: #131522;
}

.container2 {
    display: flex;
    justify-content: space-between;
}

.para {
    font-size: 12px;
    line-height: 2px;
    font-weight: 400;
}

.venue {
    color: #A9A9A9;
}

.dateTimePara, .eventAgendaPara {
    line-height: 5px;
    font-size: 12px;
}

.dateTimeHeading, .eventAgenda {
    color: #A9A9A9;
}

.dateTime {
    color: #131522;
}

.sales {
    color: #0176D3;
    text-decoration: underline;
}

.container3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn1, .btn2 {
    font-weight: 700;
    font-family: 'oswald';
    font-size: 12px;
    padding: 10px 0px;
    border-radius: 8px;
    width: 48%;
    border: 1px solid #0176D3;
}

.btn1 {
    background-color: #FFFFFF;
    color: #0176D3;
}

.btn2 {
    background-color: #0176D3;
    color: #FFFFFF;
} 