.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'hellix';
}

.sectionsContent {
    width: 90%;
    background-color: #F4F4F4;
    margin-top: 25px;
    padding-bottom: 40px;
}