.loginContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    background: linear-gradient(to top right, rgb(147, 205, 228), white);
    font-family: 'hellix';
}

.leftPart {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 200px;
}

.rightPart {
    width: 50%;
    height: 100%;
    background-color: #fff;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 55px;
    gap: 22px;
}

.loginLine span {
    color: #0176D3;
}

.loginLine {
    font-size: 28px;
    font-weight: 700;
    font-family: 'Oswald';
}

.inputField {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.inputField input {
    border-radius: 176px;
    width: 85%;
    height: 55px;
    background-color: #B5B5B51A;
    border: none;
    font-size: 16px;
    padding-left: 40px;
    outline: none;
    font-weight: 400;
}

.submitBtnAndPassword {
    width: 82%;
    display: flex;
    justify-content: space-between;
}


.forgotPassword a {
    font-size: 16px;
    color: #131522;
}

.submitParentBtn {
    width: 43%;
    height: 55px;
    background-color: #7070701A;
    border-radius: 220px;
    border: none;
}

.submitBtn {
    height: 45px;
    width: 91%;
    border-radius: 180px;
    background-color: #0176D3;
    border: none;
    font-size: 18px;
    font-family: 'oswald';
    font-weight: 700;
    color: #FFFFFF;
}

.registerPara {
    font-size: 16px;
}

.registerPara a {
    color: #0176D3;
    font-weight: 700;
    text-decoration: none;
}

@media(max-width : 767px) {
    .leftPart {
        display: none;
    }
    .rightPart {
        width: 100%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

@media(max-width: 376px) {
    .submitParentBtn {
        width: 51%;
    }
    .submitBtn {
        font-size: 12px;
    }
    .forgotPassword a {
        font-size: 13px;
    }
}

@media(min-width : 1500px) {
    .loginLine {
        font-size: 36px;
    }
    .inputField input {
        font-size: 24px;
        height: 74px;
    }
    .submitParentBtn {
        height: 70px;
        width: 258px;
    }
    .submitBtn {
        font-size: 24px;
        height: 60px;
        width: 228px;
    }
    .forgotPassword a, .registerPara {
        font-size: 20px;
    }
    .logo {
        width: 241.49px;
        height: 169px;
    }
}