.mainContentContainer {
    padding: 25px 0 25px 50px;
}

.heading {
    font-family: 'oswald';
    font-size: 22px;
    font-weight: 300;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    gap: 35px;
}

@media(max-width : 1260px) {
    .mainContentContainer {
        padding-left: 20px;
    }
    .cards {
        gap: 20px;
    }
} 

@media(max-width : 1134px) {
    .mainContentContainer {
        padding-left: 50px;
    }
    .cards {
        gap: 30px;
    }
} 

@media(max-width : 633px) {
    .mainContentContainer {
        padding-left: 15px;
    }
} 

@media(min-width: 398px) and (max-width : 589px) {
    .mainContentContainer {
        padding-left: 50px;
    }
}

@media(max-width : 370px) {
    .mainContentContainer {
        padding-left: 10px;
    }
}

@media(min-width : 1500px) {
    .heading {
        font-size: 36px;
    }
}