.mainContentContainer {
    padding: 25px 0px;
    padding-left: 60px;
}

.heading {
    font-family: 'oswald';
    font-size: 22px;
    font-weight: 300;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px;
    gap: 30px 30px;
}