.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'hellix';
}

.content {
    width: 100%;
    margin-top: 25px;
    width: 90%;
    background-color: #F4F4F4;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    font-size: 14px;
}

.leftPart {
    width: 72%;
}

.leftImage {
    width: 100%;
}

.title {
    font-size: 22px;
    font-family: 'Oswald';
    font-weight: 500;
    color: #0176D3;
    margin-top: 20px;
}

.para {
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    margin-top: 20px;
}

.cardRow {
    width: 25%;
}

.heading {
    font-family: 'Oswald';
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
}

.cardList {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card {
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cardTitle {
    font-family: 'Oswald';
    font-weight: 400;
    color: #0176D3;
    padding-top: 10px;
}

.industryDocument {
    display: flex;
    justify-content: space-between;
    line-height: 2px;
    font-size: 12px;
}

.industry, .document {
    color: #A9A9A9;
}

@media(max-width : 940px) {
    .leftPart {
        width: 60%;
    }
    .cardRow {
        width: 37%;
    }
}

@media(max-width : 650px) {
    .industryDocument {
        font-size: 10px;
    }
}

@media(max-width : 560px) {
    .content {
        flex-direction: column;
    }
    .leftPart, .cardRow {
        width: 100%;
    }
    .cardList {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }
    .card {
        width: 100%;
    }
    .industryDocument {
        font-size: 12px;
    }
}

@media(min-width : 1500px) {
    .content {
        font-size: 22px;
    }
    .para {
        font-size: 22px;
        line-height: 33px;
    }
    .industryDocument {
        font-size: 16px;
        line-height: 10px;
    }
    .cardTitle {
        font-size: 20px;
    }
    .title, .heading {
        font-size: 36px;
    }
}