.container {
    width: 100%;
    padding: 0 40px;
    padding-top: 60px;
    padding-bottom: 30px;
    font-family: 'hellix';
}

.container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container1 p {
    font-family: 'oswald';
    font-size: 22px;
    color: #131522;
    margin: 0;
    padding: 0;
}

.container1 button {
    background-color: #0176D3;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #0176D3;
    font-weight: 600;
    padding: 8px 20px;
}

.container2 {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}